* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    padding-left: 0.5em;
    padding-right: 0.5em;
    font-family: 'Source Sans Pro', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #d21b1b;
    height: 100vh;
}

img{
    max-width: 100%;
}

.remove-like {
    display: none;
}

.container {
    max-width: 400px;
    height: 95vh;
    border: 4px solid #5d5d5d;
    border-radius: 20px;
    margin: auto;
    background-color: #fff;
}

.main-section {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 80vh;

}

::-webkit-scrollbar-track
{
    box-shadow: inset 0px 0px 5px rgba(0,0,0,0.3);
    border-radius: 5px;
}

::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
    background-color: #D62929;
    border-radius: 5px;
    box-shadow: inset 0 0 5px rgba(0,0,0,0.3);
}

/* To add support to FireFox browser because ::-webkit-scrollbar don't work in firefox */

@supports (scrollbar-color: red blue){
    * {
        scrollbar-color:#D62929 rgba(0,0,0,0.3);
        scrollbar-width: thin;
    }
}


.post {
    scroll-snap-align: start;
}

.next-space {
    height: 2em;
    background-color: #EDEDED;
}



/* header */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em;
    border-bottom: 1px solid #C6C6C6;
}

.profile-pic {
    width: 34px;
    height: 34px;
    border-radius: 50%;
}

.main-logo {
    width: 8rem;
}

/* post */



.post-head {
    display: flex;
    padding: 0.5em;
    align-items: center;
}

.post-head p {
    margin: 0;
    margin-left: 1em;
}

.bold-text {
    font-weight: 900;
}

.post-icons {
    padding: 0.5em;
}

.post-icons img{
    width: 20px;
}

.likes-number {
    padding: 0;
    padding-left: 0.5em;
    margin: 0;
}

.comment-section {
    padding: 0.5em;
}
